.form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    border-radius: 8px;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #181b23;
    box-shadow: 0 0 8px rgb(25, 28, 36, 0.7)
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3a3d45;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #181b23;
}