.footer-container {
    background-color: #181b23;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

p {
    color: #FFF;
    margin-right: 10px;
    margin-top: 5px;
}