.header-container {
    background-color: #181b23;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    margin-left: 10px;
    width: 50%;
    height: 80%;
}

.links-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}