.main-image{
    margin-top: 20px;
    width: 500px;
    justify-self: center;
    align-self: center;
}

.hero-container{
    height: calc(100vh - 160px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container h2 {
    width: 70%;
    text-align: center;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}