.sections-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: calc(100vh - 160px); */
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2{
    margin-top: 20px;
    margin-bottom: 20px;
}